cache/*
!cache/.ignore
log/*
!log/.ignore
config/databases.yml
config/properties.ini
web/uploads/*
!web/uploads/.ignore
data/sql
data/search/
data/a_writable/*
!data/a_writable/.ignore
lib/filter/doctrine/base/Base*
lib/filter/doctrine/*Plugin/base/Base*
lib/form/doctrine/base/Base*
lib/form/doctrine/*Plugin/base/Base*
lib/model/doctrine/base/Base*
lib/model/doctrine/*Plugin/base/Base*
plugins/.*
nbproject/*
.rsync_cache/*
web/index.php
web/themes/*
!web/themes/.ignore
_mat/*